td{
  display: block;
}
.image, thead, .navbar-brand, .description, .slug, .persons_injured, .product_return, .description, .steps, .accesories, .firmware, .database, .dateofpurchase, .accepted, .user_id {
  display: none;
}

.panel {
  background-color: transparent;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

tr {
  background-color: white;
  height: 80px;
  cursor: pointer;
}

#dataTable td {
  border: none;
  font-size: 15px;
}
a.pending {
  color: grey;
}
.no-sort.no-click a{
background-color: transparent;
  padding: 0;
}
/*a.accepted {*/
  /*color: #5cb85c;*/
/*}*/

/*td.accepted {*/
  /*position: absolute;*/
  /*left: 13px;*/
/*}*/

/*.accepted span, .pending span {*/
  /*display: none;*/
/*}*/
td.date{
  position: absolute;
}
td.sub_brand_id{
  position: absolute;
  right: 15px;
}

td.category_id, td.brand_id {
  font-weight: 700;
  
}

td.category_id {
  position: absolute;
  left: 35px;
}

td.barcode {
  position: absolute;
  right: 16px;
  margin-top: 45px;
}

td.brand_id {
  position: absolute;
  right: 16px;
}

td.suite_version {
  position: absolute;
  left: 15px;
  margin-top: 22px;
}

td.model {
  position: absolute;
  right: 15px;
  margin-top: 22px;
}

td.no-sort.no-click a{
  color: #7fcfc7;
  font-weight: 700;
}

td.no-sort.no-click {
  position: absolute;
  left: 18px;
  margin-top: 45px;
}

.no-sort.no-click span {
  display: none;
}

.panel-body {
  padding: 0;
}
.site-footer-right{
  color:white;
}
td.no-sort.no-click a {
  float: left;
  line-height: 24px;
  margin-right: 13px;
}
.edit em{
  font-size: 10px;
  color:orange;
}
.set_report .icon{
  text-align: center;
    font-size: 20px;
}