.input-group-addon,
.form-control:not(.notMe){
    background-color: transparent;
    color: black;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
}
.input-group-addon{
    font-size: 20px;
}
.navbar-brand{
    display: none;
}
.web-container{
    background-color: white;
    border-radius: 15px;
    padding:15px;
}

.btn-block{
    border-radius:18px;
    color:white;
    font-weight: 700;
    
}