.group select{
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(53,61,71, 0.1);
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}
.input-group{
    margin-bottom: 15px;
}
.selectlabel{
    top: -20px!important;
    font-size: 14px!important;
    color: rgba(53,61,71, 0.5)!important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
label.input-group-btn .btn{
    margin-top:0;
}
.accept,.sent, .resetpassword {
    margin-right: 5px;
}
.accept-request, .reject-request, .resetpassword, .accept{
cursor: pointer;
}
.request-pending{
    background-color: rgba(255, 0, 0, 0.1);
}
.btn-sm i{
    position: relative;
    top: 4px;
    font-size: 15px;
}
.voyager-camera{
    position: relative;
    top: 2px;
    font-size: 15px;
    margin-right: 3px;
}
a.btn-sm{
    text-decoration: none;
}
a.btn.disabled,a.btn-sm.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, a:hover {
    color: #7fcfc7;
    background-color: transparent;
}
.btn-link {
    color: #7fcfc7;
    font-weight: 400;
    border-radius: 0;
}
.site-footer-right{
    text-align: right;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 5%;
    z-index: 99;
}
#app{
    position: relative;
    min-height: 100%;
}
html, body{
    height: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar{
    margin-bottom: 0;
}
.navbar-nav {
    margin: 0px -15px;
}
.navbar-default .navbar-collapse, .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: white;
    font-weight: 700;
}
.navbar-default .navbar-toggle{
    background-color: #fff;
}
.navbar-collapse a{
    text-align: center;
}
