.navbar-brand{
    display:none;
}
.form-control{
    border: none;
    box-shadow: inset 0px -1px 0px lightgrey;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}
.btn-block{
    border-radius:18px;
    
}