.navbar-brand img:not(.special_logo) {
  display: none;
}


@media (min-width: 380px) {
  
  .navbar-brand img {
    width: 20%;
    margin: 0 40%;
  }
}
@media (max-width: 380px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
  
  .navbar-brand img:not(.special_logo) {
    width: 90%;
    margin: 5%;
  }
  
  .btn-bottom {
    color: white;
  }
  img.special_logo {
    width: 75%;
    margin: 0 12.5%;
  }
}