.navbar-brand{
    display:none;
}
img{
    width: 100%;
}
i{
    position: relative;
    top: 4px;
    font-size: 15px;
}
.form-control{
    border: none;
    box-shadow: inset 0px -1px 0px lightgrey;
    height: 39px;
    margin-bottom: 5px;
    margin-top: -10px;
    padding: 4px 0 15px 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}
.btn{
    padding: 0 12px;
}
img{
    margin-bottom: 10px;
}
.panel-body{
    padding:15px!important;
}
.site-footer-right{
    color:white;
}