html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}

html {
  /*background-image: url('../image/gradient_background.png');*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  height: 100%;
  /*background: rgb(60,80,100);*/
  /*background: -moz-linear-gradient(top, rgba(60,80,100,1) 0%, rgba(90,90,90,1) 100%);*/
  /*background: -webkit-linear-gradient(top, rgba(60,80,100,1) 0%,rgba(90,90,90,1) 100%);*/
  /*background: linear-gradient(to bottom, rgba(60,80,100,1) 0%,rgba(90,90,90,1) 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5064', endColorstr='#5a5a5a',GradientType=0 );*/
}

body {
  background: transparent;
  color: white;
  font-size: 16px;
}

html, body, #app {
  min-height: 100%;
}

.site-footer-right {
  color: white;
}

.btn-link:focus, .btn-link:hover {
  color: white;
}

.btn-block {
  border-radius: 18px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.container {
  width: 70%;
  color: white;
}

.navbar-brand {
  height: auto;
  float: none;
}
.navbar-header {
  width: 100%;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
  color: white;
}

.welcome-links, .welcome-links > a {
  color: white;
}

.panel {
  background-color: transparent;
}

.panel img {
  width: 100%;
  height: auto;
}


.links > a {
  float: left;
  width: 100%;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .navbar-right {
    /* float: right!important; */
    right: 45px;
    top: 15px;
    position: absolute;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  
  .navbar-nav .navbar-header button, .navbar-nav{
    display: none;
  }
 
}

@media (min-width: 380px) {
  
  .navbar-brand img {
    width: 20%;
    margin: 0 40%;
  }
  
}
@media (max-width: 380px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
  
  .navbar-brand img:not(.special_logo) {
    width: 90%;
    margin: 5%;
  }
  
  .btn-bottom {
    color: white;
  }
  .special_logo{
    width: 100%;
    margin: 0;
  }
}

.input-group-addon,
.form-control {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
}

.input-group-addon {
  font-size: 20px;
}
.smallertext * {
  font-size: 10px;
}
.container>.navbar-header {
  margin:0;
}
.navbar-header button {
  display: none;
}